/* Allgemein */
body {
    margin: 0;
    padding: 0;
}
h1 {
    color: #2F39A4;
    margin-bottom: 0;
    font-size: 1.9em;
    grid-row: 1 / 1;
    grid-column: 1 / 10;
}
h2 {
    color: #1B248E;
    font-size: 1.5em;
}
article {
    padding: 20px;
}
img {
    width: 100%;
}
video {
    width: 100%;
}
.intro {
    grid-row: 2 / 3;
    grid-column: 1 / 10;
}
/* Navigation */
nav {
    background-color: #868686;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
}
nav a {
    width: 100%;
    padding: 10px 0;
    color: #1A1A1A;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #1A1A1A;
}
nav a:hover, nav a:active {
    background-color: #e2e2e2;
}
i {
    -webkit-text-stroke: 0.4px;
}
/* Uebermich */
.uebermich {
    display: grid;
    grid-template: auto auto / 1fr;
}
.columncontainer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.portrait {
    width: 48%;
    float: right;
    margin: 2%;
}
/* Fähigkeiten */
.faehigkeiten {
    display: grid;
    grid-template: auto auto auto / 1fr;
}
.faehigkeiten .list {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding-left: 5%;
}
/* Portfolio */
.portfolio {
    display: grid;
    grid-template: auto auto auto auto auto auto / 1fr 10px 1fr 10px 1fr;
}
.projekte {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
}
.portfolio .columnleft {
    grid-row: 4 / 5;
    grid-column: 1 / 1;
}
.portfolio .columnmiddle {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}
.portfolio .columnright {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}
.videos {
    grid-row: 5 / 6;
    grid-column: 1 / 6;
}
.videocontainer {
    grid-row: 6 / 7;
    grid-column: 1 / 6;
}
/* Kontakt */
.kontakt {
    display: grid;
    grid-template: auto auto auto auto auto auto / 1fr;
}
.kontaktformular {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.contactform {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.kontaktdaten {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
input, textarea {
    width: 70%;
    display: block;
    margin-bottom: 8px;
}
.email {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

@media screen and (max-width: 580px)  {
    .portfolio {
        display: grid;
        grid-template: auto auto auto auto auto auto auto auto / 1fr 10px 1fr 10px 1fr;
    }
    .portfolio .columnleft {
        grid-row: 4 / 5;
        grid-column: 1 / 6;
    }
    .portfolio .columnmiddle {
        grid-row: 5 / 6;
        grid-column: 1 / 6;
    }
    .portfolio .columnright {
        grid-row: 6 / 7;
        grid-column: 1 / 6;
    }
    .videos {
        grid-row: 7 / 8;
        grid-column: 1 / 6;
    }
    .videocontainer {
        grid-row: 8 / 9;
        grid-column: 1 / 6;
    }
}
@media screen and (max-width: 500px) {
    .portrait {
        width: 100%;
        margin: 2% 0;
    }
}
@media screen and (max-width: 450px)  {
    .nav-text {
        display: none;
    }
    nav.uebermich-nav {
        grid-template: 1fr / 4fr 1fr 1fr 1fr;
    }
    nav.faehigkeiten-nav {
        grid-template: 1fr / 1fr 4fr 1fr 1fr;
    }
    nav.portfolio-nav {
        grid-template: 1fr / 1fr 1fr 4fr 1fr;
    }
    nav.kontakt-nav {
        grid-template: 1fr / 1fr 1fr 1fr 4fr;
    }
}
@media screen and (min-width: 1000px) {
    article {
        width: 960px;
        margin: auto;
    }
}